
.contenido{
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    /*
    background-image: url('../../../assets/chapters/chapter-0/prologo_propuesta2_1.png');
    background-size: cover;
    */
}

.head{
    display: flex;
    justify-content: space-between;
    margin-top: .8rem;
}
head app-sound-control {
    padding: 1rem 2rem;
}


.end{
    display: flex;
    flex-direction: row-reverse;
    top: 2.2rem;
}

app-progress-bar{
    
    margin-bottom: 3rem;
}

ion-slides{
    max-height: 60%;
    
}

